
<doctype html="">

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="flashes">
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{% from "_formhelpers.html" import render_field %}

<form method="post">
     <dl>
    <body>
        <div style="background-color:gray;color:white;padding:20px;">
      <h1>Choose the type of data you would like to add:</h1>

        {{ render_field(form.add_table) }}
            </div>
    </body>

<body>
<div style="background-color:AliceBlue;color:black;padding:20px;">
    <h2>Add recommendation data:</h2>
     {{ render_field(form.add_rec_title) }}
     {{ render_field(form.add_user_rating) }}

    <div class = "filtering">
     <nav align="left_center">
          <ul>
         <p><input type="submit" value="Submit">

        </ul>
    </nav>
  </div>
</div>
</body>
            </p></dl>


    <body>
<div style="background-color:Azure;color:black;padding:20px;">
<h2>Add data actor data:</h2>

       {{ render_field(form.add_actor_name) }}

       {{ render_field(form.add_actor_age) }}

       {{ render_field(form.add_gender_actor) }}

    <div class = "filtering">
     <nav align="left_center">
          <ul>
         <p><input type="submit" value="Submit">

        </ul>
    </nav>
  </div>
</div>
</body>


      </p></dl>

     <body>
    <div style="background-color:Beige;color:black;padding:20px;">
    <h2>Add director data:</h2>

       {{ render_field(form.add_director_name) }}

       {{ render_field(form.add_director_age) }}

       {{ render_field(form.add_gender_director) }}

        <div class = "filtering">
     <nav align="left_center">
          <ul>
         <p><input type="submit" value="Submit">

        </ul>
    </nav>
  </div>
</div>
</body>

      </p></dl>

    <body>
    <div style="background-color:Bisque;color:black;padding:20px;">
     <h2>Add movie data:</h2>
     {{ render_field(form.add_category) }}
     {{ render_field(form.add_movie_title) }}
     {{ render_field(form.add_country) }}
     {{ render_field(form.add_release_year) }}
     {{ render_field(form.add_duration) }}
     {{ render_field(form.add_description) }}
     {{ render_field(form.add_genre) }}
     {{ render_field(form.add_rating) }}
     {{ render_field(form.add_platform) }}

        <div class = "filtering">
     <nav align="left_center">
          <ul>
         <p><input type="submit" value="Submit">

        </ul>
    </nav>
  </div>
        </div>
</body>
 </p></dl>


    </nav>
  </div>
</p></form>
</doctype>


