<!--export to csv-->

<!DOCTYPE html>
<html>
<body>


<form action="{{ url_for('export') }}" method="POST">
  <select id="TableName" name="TableName">
    <option value="" selected></option>
    <option value="Movies">Movies</option>
    <option value="Actors">Actors</option>
    <option value="Directors">Directors</option>
    <option value="Genres">Genres</option>
    <option value="Ratings">Ratings</option>
    <option value="Recommendations">Recommendations</option>
    <option value="StreamingService">Streaming Services</option>
  </select>
    <div>

        <button class="btn btn-primary" type="submit">Generate CSV</button>

    </div>
</form>

</body>
</html>