<!DOCTYPE html>
{% include "home.html" %}



{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="flashes">
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{% from "_formhelpers.html" import render_field %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Filtering</title>
</head>
<body>
    <form method="post">
         <div style="background-color:DarkSeaGreen;color:black;padding:20px;">
              <h2>FILTERING:</h2>
        <p>
       <h2>Categories:</h2>
              {{ form.hidden_tag() }}
        {{ form.categories_enter }}
      <p>
            <h2>Ratings:</h2>
              {{ form.hidden_tag() }}
        {{ form.ratings_enter }}
             <p>
             <h2>Countries:</h2>
              {{ form.hidden_tag() }}
        {{ form.countries_enter }}
      <p>
             <h2>Genres:</h2>
              {{ form.hidden_tag() }}
        {{ form.genre_enter }}
             <p>
                <p>
               <h2>Streaming Services:</h2>
              {{ form.hidden_tag() }}
        {{ form.platforms_enter }}
      <p>
        <button type="submit">Submit</button>
             </div>
        <div>
</div>
        <div style="background-color:LightPink;color:black;padding:20px;">
              <h2>SEARCHING:</h2>
<h4>Choose How to Search Data:</h4>
        {{ render_field(form.search_options) }}
      <p>
        {{ render_field(form.search_field) }}
  </p></dl>
  <p><input type="submit" value="Search">
</div>
  </p></dl>
    </form>
</body>


<style>
    ul
{
    list-style-type: none;
}
</style>